@charset "utf-8";
/* CSS Document */

.header {
  padding: 40px;
  text-align: center;
  background: #3B0000;
  font-size: 80px;
  color: #9B7F00;
  text-shadow: 0 0 5px #9B7F00, 0 0 50px #9B7F00;
  border-style: dotted;
  border-color: #9B7F00;
  border-radius: 25px;
}

.header h1 {
  font-size: 80px;
  color: #9B7F00;
  text-shadow: 0 0 5px #9B7F00, 0 0 50px #9B7F00;
  border-style: dotted;
}	

nav {
  font-size: 20px;
  text-align: center;
  background: #ECB000;
  border-style: solid;
  border-width: thick;
  border-color: #9B7F00;
  padding: 10 5 10 5px;
  margin: 25px 50px 25px 100px;
}

nav a:hover {
 float: center;
 color: darkred;
 text-shadow: 0 0 5px #9B7F00, 0 0 50px #9B7F00;
}

body {
  font-family: "Times New Roman", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  background: #FFFFFF;
}

h2 {
  font-size: 25px;
  text-align: center;
  color: #9B7F00;
  text-shadow: 0 0 5px #9B7F00, 0 0 50px #9B7F00;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
	}

h4 {
  font-size: 20px;
  text-align: center;
  color: #9B7F00;
  text-shadow: 0 0 10px #9B7F00, 0 0 50px #9B7F00;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

p {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  color: #3B0000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.image {
  text-align: center;
  background: #FFFFFF;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: #9B7F00;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

footer {
  text-align: center;
  background: #9B7F00;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}